<%
	if(typeof menuicon == 'undefined') menuicon = '';
	var menu = [
		{link:'CITAS', icon:'favorite', caption:'Citas'},
		{link:'PAREJAS', icon:'people', caption:'Parejas'},
		{link:'PERFIL', icon:'person', caption:'Perfil'},
		{link:'CHAT', icon:'message', caption:'Chat'},
		{link:'NOTIFICACIONES', icon:'notifications', caption:'Alertas'},
		{link:'TIENDA', icon:'shopping_cart', caption:'Tienda'}];
%>

<!-- MENU -->
<div class="row" style="margin-bottom: 0;">
	<div class="navbar hide-on-small-only hide-on-unique">
		<nav>
			<div class="nav-wrapper">
				<a class="brand-logo left" style="margin-left: 1rem;">
					<i class="waves-effect waves-light hide-on-large-only material-icons" onclick="openMenu();">menu</i>
					<%= typeof title != 'undefined' ? title : 'Piropazo' %>
				</a>
				<!-- ICONS ON THE MENU -->
				<ul class="right hide-on-med-only">
					<% menu.forEach(function(e) { %>
						<li class="<%= e.icon==menuicon ? 'active' : '' %>">
							<a href="#!" class="<%= e.icon==menuicon ? 'piropazo-color-text' : '' %>" onclick="apretaste.send({'command':'PIROPAZO <%= e.link %>'})">
								<i class="material-icons white-text"><%= e.icon %></i>
							</a>
						</li>
					<% }); %>
				</ul>
			</div>
		</nav>
	</div>

	<!-- FLOATING MOBILE BTN -->
	<a id="btnFloatingMenu" href="#"
	   class="btn-floating waves-effect waves-light hide-on-med-and-up hide-on-unique piropazo-color <%=typeof extra_fields != "undefined" ? extra_fields : ""%>"
	   onclick="openMenu();">
		<i class="material-icons"><%= menuicon %></i>
	</a>

	<!-- SIDE BAR TO BE OPENED ON MOBILE -->
	<ul class="sidenav hide-on-large-only">
		<% menu.forEach(function(e) { %>
			<li class="<%= e.icon==menuicon ? 'active' : '' %>">
				<a href="#!" class="<%= e.icon==menuicon ? 'piropazo-color-text' : '' %>" onclick="apretaste.send({'command':'PIROPAZO <%= e.link %>'})">
					<i class="material-icons <%= e.icon==menuicon ? 'piropazo-color-text' : 'grey-text text-darken-2' %>"><%= e.icon %></i> <%= e.caption %>
				</a>
			</li>
		<% }); %>
	</ul>
</div>

<!-- CONTENT -->
<div class="row">
	{{APP_TEMPLATE_CODE}}
</div>