<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Citas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO PAREJAS'})">Parejas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO PERFIL'})">Perfil</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO TIENDA'})">Tienda</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<div id="profile">
			<!-- PICTURE -->
			<% if (person.picture) { %>
				<img id="citas-image" src="{{APP_IMAGE_PATH}}<%= person.picture %>" alt="¡Sin foto!"/>
			<%} else { %>
				<div id="citas-no-image"></div>
			<% } %>

			<!-- HEART -->
			<% if(person.heart == 1){ %>
				<div id="citas-heart">
					<i class="material-icons medium green-text">favorite</i>
				</div>
			<% } %>

			<!-- DESCRIPTION -->
			<div id="citas-text">
				<h3 class="white-text">
					<% if (person.firstName ) { %>
						<b><%= person.firstName %></b>,
					<% } %>
					<% if (person.age) { %>
						<%= person.age %> años
					<% } %>
				</h3>
				<% if (person.location) { %>
					<h4><span class="clear white-text"><i class="material-icons icon">place</i> <%= person.location %></span></h4>
				<% } %>
				<% if (person.education) { %>
					<h4><span class="clear white-text"><i class="material-icons icon">school</i> <%= person.education %></span></h4>
				<% } %>
				<% if(person.religion) { %>
					<% if(person.religion != 'Otra'){ %>
						<h4><span class="clear white-text"><i class="material-icons icon">flare</i> <%= person.religion %></span></h4>
					<% } %>
				<% } %>
			</div>
		</div>

		<!-- BUTTONS -->
		<div id="citas-buttons" class="col s12 center-align valign-wrapper">
			<div class="col s4">
				<a class="waves-effect waves-light btn-floating btn-large grey darken-2" style="margin-top:25px;" onclick="respondToDate('<%= person.id %>', 'NO')">
					<i class="material-icons large">clear</i>
				</a>
			</div>
			<div class="col s4">
				<% if(myflowers > 0) { %>
					<div id="citas-flower-conter"><%= myflowers %></div>
				<% } %>
				<a class="waves-effect waves-light btn-floating btn-large <%= myflowers > 0 ? 'green': 'grey' %>" onclick="openFlowerModal('<%= person.id %>', '<%= person.firstName %>')">
					<i class="material-icons large">local_florist</i>
				</a>
			</div>
			<div class="col s4">
				<a class="waves-effect waves-light btn-floating btn-large green" style="margin-top:25px;" onclick="respondToDate('<%= person.id %>', 'SI')">
					<i class="material-icons large">check</i>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- FLOWER POPUP -->

<div id="modalFlower" class="modal">
	<div class="modal-content">
		<h4 class="green-text">Enviar flor</h4>
		<p>Agregue un mensaje para enviar a <b class="name"></b> y llamar su atención</p>
		<div class="input-field">
			<textarea id="flowerMsg" maxlength="200" class="validate materialize-textarea"></textarea>
			<label for="flowerMsg">Agrega un mensaje con tu flor</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" onclick="activeId = ''" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
		<a href="#!" class="modal-close waves-effect waves-green btn-flat green-text" onclick="sendFlower()">Enviar</a>
	</div>
</div>
