<div class="row">
	<div class="col s12">
		<div id="profile">
			<!-- PICTURE -->
			<%var src = "{{APP_IMAGE_PATH}}" + match.picture;%>
			<img class="responsive-img profile-img" src="<%= src %>" alt="<%= match.username %>"/>

			<!-- INFO -->
			<div class="position-bottom left" id="info">
				<h1><%=match.first_name%></h1><h2><%=match.age%></h2>
				<%if(match.online=="1"){%>
					<i class="material-icons green-text text-lighten-1" style="font-size:15px;">brightness_1</i>
				<%}%>
				<h3><%= match.location %></h3>
			</div>
			<i class="material-icons position-bottom right white-text" id="more" onclick="toggleDescVisible()">more_vert</i>
		</div>
	</div>
</div>

<div style="display: none;" id="desc" class="row" status="closed">
	<div class="col s12">
		<h3 class="black-text center-align" style="margin: 8px 0 0 0;"><%=match.first_name%></h3>
		<p><%=match.about_me%></p>

		<table id="desc-table">
			<tr>
				<td><i class="material-icons grey-text text-darken-2">person</i></td>
				<td><%= match.profile_tags %></td>
			</tr>
			<tr>
				<td><i class="material-icons grey-text text-darken-2">business_center</i></td>
				<td><%= match.profession_tags %></td>
			</tr>
			<tr>
				<td><i class="material-icons grey-text text-darken-2">place</i></td>
				<td><%= match.location + ', ' + match.country %></td>
			</tr>
		</table>
	</div>
</div>

<div class="row" id="actions">
	<div class="col s12 center-align actions">
		<!-- BUTTONS -->
			<div class="col s4">
				<a class="waves-effect waves-light btn-floating btn-large grey darken-2" onclick="respondToDate('<%= match.id %>', 'NO')">
					<i class="material-icons large">clear</i>
				</a>
			</div>
			<div class="col s4">
				<a class="waves-effect waves-light btn-floating btn-large piropazo-color" onclick="openFlowerModal('<%= match.id %>', '<%= match.first_name %>')">
					<i class="material-icons large">local_florist</i>
				</a>
			</div>

			<div class="col s4">
				<a class="waves-effect waves-light btn-floating btn-large piropazo-color" onclick="respondToDate('<%= match.id %>', 'SI')">
					<i class="material-icons large">check</i>
				</a>
			</div>
	</div>
</div>

<!-- FLOWER POPUP -->
<div id="modalFlower" class="modal">
	<div class="modal-content">
		<h4 class="piropazo-color-text">Enviar flor</h4>
		<p>Usted tiene <span id="flowerCount"></span> flores. Agregue un mensaje para enviar a <b class="name"></b>, llamar su atención y agregar 7 días al tiempo de espera.</p>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="flowerMsg" maxlength="200" class="validate materialize-textarea"></textarea>
				<label for="flowerMsg">Agrega un mensaje con tu flor</label>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" onclick="activeId = ''" class="modal-close waves-effect waves-piropazo-color btn-flat">Cerrar</a>
		<a href="#!" class="modal-close waves-effect waves-piropazo-color btn-flat piropazo-color-text" onclick="sendFlower()">Enviar</a>
	</div>
</div>