<div class="row">
    <div class="col s12" id="matches-lists">
        <!--YOUR MATCHES-->
        <% if(matched.length > 0) { %>
            <section id="matches">
                <% matched.forEach(function(person) { %>
                    <div class="card" id="<%= person.id %>">
                        <div class="card-image waves-effect waves-block waves-light">
                            <!-- PICTURE -->
                            <% if (person.picture) var src = "{{APP_IMAGE_PATH}}" + person.picture;
                            else var src = "{{APP_RESOURCES}}/images/user.jpg"; %>
                            <img src="<%= src %>" alt="<%= person.firstName %>"
                                 onclick="apretaste.showImage('<%= src %>')"
                                 class="responsive-img"/>
                        </div>
                        <div class="card-content" style="padding: 12px">
                            <p>
                                <b class="black-text"><%= person.firstName %></b>, <%= person.age %>
                                años. <%= person.location %>.<br>
                                <%= person.education + (person.religion != 'Otra' ? ', ' + person.religion : '') %>
                            </p>
                        </div>

                        <div class="card-action grey lighten-4" style="padding: 12px">
                            <!-- BUTTONS -->
                            <a class="green-text" onclick="openChat('<%= person.id %>')">
                                Hablar
                            </a>

                            <a class="green-text" onclick="viewProfile('<%= person.id %>')">
                                Perfil
                            </a>

                            <a class="red-text"
                               onclick="deleteMatchModalOpen('<%= person.id %>', '<%= person.firstName %>')">
                                Olvidar
                            </a>
                        </div>
                    </div>
                <% }) %>
                </ul>
            </section>
        <% } %>

        <!--WAITING FOR YOU-->
        <% if(waiting.length > 0) { %>
            <section>
                <% waiting.forEach(function(person) { %>
                    <div class="card" id="<%= person.id %>">
                        <div class="card-image waves-effect waves-block waves-light">
                            <!-- PICTURE -->
                            <% if (person.picture) var src = "{{APP_IMAGE_PATH}}" + person.picture;
                            else var src = "{{APP_RESOURCES}}/images/user.jpg"; %>
                            <img src="<%= src %>" alt="<%= person.firstName %>" class="responsive-img"/>
                        </div>
                        <div class="card-content" style="padding: 12px">
                            <p>
                                <b class="black-text"><%= person.firstName %></b>, <%= person.age %>
                                años. <%= person.location %>.<br>
                                <%= person.education + (person.religion != 'Otra' ? ', ' + person.religion : '') %>
                            </p>
                        </div>

                        <div class="card-action grey lighten-4" style="padding: 12px">
                            <!-- BUTTONS -->
                            <a class="green-text" onclick="doMatch('<%= person.id %>')">
                                Me gusta
                            </a>
                            <a class="red-text"
                               onclick="deleteMatchModalOpen('<%= person.id %>', '<%= person.firstName %>')">
                                No, paso
                            </a>
                        </div>
                    </div>
                <% }) %>
            </section>
        <% } %>

        <% if (flowers.length >0) { %>
            <section>
                <% for (var i = 0; i < flowers.length;i++) { var flower = flowers[i]; %>
                    <div class="card">
                        <div class="card-content" style="padding: 12px">
                            <p><span class="title"><b><%= flower.full_name %></b></span></p>
                            <p><%= flower.message %></p>
                            <span class="chip tiny clear">
                                <i class="material-icons icon">perm_contact_calendar</i>
                                <%= moment(flower.sent).format('MMM D, h:mm A') %>
                            </span>
                        </div>
                        <div class="card-action grey lighten-4" style="padding: 12px">
                            <a class="green-text" onclick="apretaste.send({command: 'PIROPAZO CITAS', data: {match: <%= flower.id_sender %>}});">
                                Ver perfil
                            </a>
                        </div>
                    </div>
                <% } %>
            </section>
        <% } %>

        <div id="modal" class="modal">
            <div class="modal-content">
                <h4>Copie el correo</h4>
                <p id="per"></p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Hecho</a>
            </div>
        </div>

        <!-- FLOWER POPUP -->
        <div id="modalFlower" class="modal">
            <div class="modal-content">
                <h4 class="green-text">Enviar flor</h4>
                <p>Usted tiene <span id="flowerCount"> <%= myflowers %> </span> flores. Agregue un mensaje para enviar a
                    <b class="name"></b>, llamar su atención y agregar 7 días al tiempo de espera.</p>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="flowerMsg" maxlength="200" class="validate materialize-textarea"></textarea>
                        <label for="flowerMsg">Agrega un mensaje con tu flor</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" onclick="activeId = ''" class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat green-text"
                   onclick="sendFlower()">Enviar</a>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>¿Seguro que deseas quitar a <b class="name"></b>? Esta desición es irreversible.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" onclick="activeId = ''" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
        <a onclick="sayNoAndBlock(activeId)" class="modal-close waves-effect waves-red btn-flat red-text">Borrar</a>
    </div>
</div>