<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO CITAS'})">Citas</a></li>
			<li class="tab"><a href="#" class="active">Parejas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO PERFIL'})">Perfil</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO TIENDA'})">Tienda</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12" id="matches-lists">
		<% people.forEach(function(item) { %>
			<div class="card" id="<%= item.id %>">
				<!-- IMAGE -->
				<div class="card-image waves-effect waves-block waves-light">
					<% var src = "{{APP_IMAGE_PATH}}" + item.picture %>
					<img src="<%= src %>" alt="<%= item.firstName %>" onclick="apretaste.showImage('<%= src %>')"/>
				</div>

				<!-- CONTENT -->
				<div class="card-content" style="padding: 12px">
					<p>
						<b class="<%= item.gender %>"><%= item.firstName %></b>, <%= item.age %> años, <%= item.location %>.<br>
						<%= item.education  %> <%= (item.religion != 'Otra' ? ', ' + item.religion : '') %>
					</p>
				</div>

				<!-- BUTTONS -->
				<div class="card-action grey lighten-4">
					<% if(item.type == 'MATCH') { %>
						<a class="green-text" onclick="apretaste.send({command:'CHAT', data:{userId:<%= item.id %>}}); block(this);">Hablar</a>
						<a class="green-text" onclick="apretaste.send({command:'PERFIL', data:{username:<%= item.id %>}}); block(this);">Perfil</a>
						<a class="red-text" onclick="deleteModalOpen(<%= item.id %>, '<%= item.firstName %>')">Olvidar</a>
					<% } %>

					<% if(item.type == 'WAITING') { %>
						<a class="green-text" onclick="respondToDate(<%= item.id %>, 'SI', 'PAREJAS'); block(this);">Me gusta</a>
						<a class="red-text" onclick="respondToDate(<%= item.id %>, 'NO', 'PAREJAS'); block(this);">No, paso</a>
					<% } %>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<!-- DELETE MODAL -->

<div id="deleteModal" class="modal">
	<input id="personId" type="hidden">
	<div class="modal-content">
		<p>¿Seguro que deseas quitar a <b class="name"></b>? Esta desición es irreversible.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
		<a onclick="respondToDate($('#personId').val(), 'NO', 'PAREJAS'); block(this);" class="modal-close waves-effect waves-red btn-flat red-text">Borrar</a>
	</div>
</div>
