<div class="row">
	<div class="col s12" id="matches-lists">
	<!--YOUR MATCHES-->
		<% if(matched.length > 0) { %>
			<section>
			<ul class="collection" id="matches">
				<% matched.forEach(function(person) { %>
					<li class="collection-item avatar" id="<%=person.id%>">
						<a href="#!" onclick="apretaste.send({'command':'PIROPAZO PERFIL','data':{'id':'<%= person.id %>'}})">
							<!-- PICTURE -->
							<% if(person.picture) var src = "{{APP_IMAGE_PATH}}" + person.picture;
							else var src = "{{APP_RESOURCES}}/images/user.jpg"; %>
							<img src="<%= src %>" alt="<%= person.first_name %>" class="circle"/>

							<!-- FIRST NAME -->
							<h5 class="black-text"><%= person.first_name %></h5>
						</a>
						<p>
							<!-- DETAILS -->
							<span>Se unieron el <%=person.matched_on%></span>
						</p>
						<span class="secondary-content">
							<!-- BUTTONS -->
							
							<a onclick="apretaste.send({'command':'PIROPAZO CONVERSACION', 'data':{'userId':'<%=person.id%>'}})"><i class="material-icons piropazo-color-text">message</i></a>
							
							<a href="#!" class="grey darken-2 btn-x" onclick="deleteMatchModalOpen('<%= person.id %>', '<%= person.first_name %>')"><i class="material-icons white-text">close</i></a>
						</span>
					</li>
				<% }) %>
			</ul>
			</section>
		<% } %>


		<!--WAITING FOR YOU-->
		<% if(waiting.length > 0) { %>
			<section>
			<h4 class="piropazo-color-text">Esperando por tí</h4>
			<ul class="collection">
				<% waiting.forEach(function(person) { %>
					<li class="collection-item avatar" id="<%=person.id%>">
						<a href="#!" onclick="apretaste.send({'command':'PIROPAZO PERFIL','data':{'id':'<%= person.id %>'}})">
							<!-- PICTURE -->
							<% if(person.picture) var src = "{{APP_IMAGE_PATH}}" + person.picture;
							else var src = "{{APP_RESOURCES}}/images/user.jpg"; %>
							<img src="<%= src %>" alt="<%= person.first_name %>" class="circle"/>

							<!-- FIRST NAME -->
							<h5 class="black-text"><%= person.first_name %></h5>
						</a>
						<p>
							<!-- DETAILS -->
							<span class="second-line">Faltan <%= person.time_left %> días</span>
						</p>
						<span class="secondary-content">
							<!-- BUTTONS -->
							<a href="#!" onclick="doMatch('<%= person.id %>')"><i class="material-icons piropazo-color-text">check</i></a>
							<a href="#!" class="grey darken-2 btn-x" onclick="deleteMatchModalOpen('<%= person.id %>', '<%= person.first_name %>')"><i class="material-icons white-text">close</i></a>
						</span>
					</li>
				<% }) %>
			</ul>
			</section>
		<% } %>

		
		<div id="modal" class="modal">
				<div class="modal-content">
					<h4>Copie el correo</h4>
					<p id="per"></p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-close waves-effect waves-piropazo-color btn-flat">Hecho</a>
				</div>
		</div>

		<!--YOU ARE WAITING FOR THEM-->
		<% if(liked.length > 0) { %>
			<section>
			<h4 class="piropazo-color-text">Esperando por ellos</h4>
			<ul class="collection">
				<% liked.forEach(function(person) { %>
					<li class="collection-item avatar" id="<%=person.id%>">
						<a href="#!" onclick="apretaste.send({'command':'PIROPAZO PERFIL','data':{'id':'<%= person.id %>'}})">
							<!-- PICTURE -->
							<% if(person.picture) var src = "{{APP_IMAGE_PATH}}" + person.picture;
							else var src = "{{APP_RESOURCES}}/images/user.jpg"; %>
							<img src="<%= src %>" alt="<%= person.first_name %>" class="circle"/>

							<!-- FIRST NAME -->
							<h5 class="black-text"><%= person.first_name %></h5>
						</a>
						<p>
							<!-- DETAILS -->
							<span>Faltan <%= person.time_left %> días</span>
						</p>
						<span class="secondary-content">
							<!-- BUTTONS -->
							<a href="#!" onclick="openFlowerModal('<%= person.id %>', '<%= person.first_name %>')"><i class="material-icons piropazo-color-text">local_florist</i></a>
							<a href="#!" class="grey darken-2 btn-x" onclick="deleteMatchModalOpen('<%= person.id %>', '<%= person.first_name %>')"><i class="material-icons white-text">close</i></a>
						</span>
					</li>
				<% }) %>
			</ul>
			</section>
		<% } %>

		<!-- FLOWER POPUP -->
		<div id="modalFlower" class="modal">
			<div class="modal-content">
				<h4 class="piropazo-color-text">Enviar flor</h4>
				<p>Usted tiene <span id="flowerCount"></span> flores. Agregue un mensaje para enviar a <b class="name"></b>, llamar su atención y agregar 7 días al tiempo de espera.</p>
				<div class="row">
					<div class="input-field col s12">
						<textarea id="flowerMsg" maxlength="200" class="validate materialize-textarea"></textarea>
						<label for="flowerMsg">Agrega un mensaje con tu flor</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#!" onclick="activeId = ''" class="modal-close waves-effect waves-piropazo-color btn-flat">Cerrar</a>
				<a href="#!" class="modal-close waves-effect waves-piropazo-color btn-flat piropazo-color-text" onclick="sendFlower()">Enviar</a>
			</div>
		</div>
	</div>
</div>

<div id="deleteModal" class="modal">
	<div class="modal-content">
		<p>¿Seguro que deseas quitar a <b class="name"></b>? Esta desición es irreversible.</p>
	</div>	
	<div class="modal-footer">
		<a href="#!" onclick="activeId = ''" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
		<a onclick="sayNoAndBlock(activeId)" class="modal-close waves-effect waves-red btn-flat red-text">Borrar</a>
	</div>
</div>