<% if(profileIncomplete) { %>
	<div class="row">
		<div class="col s12">
			<div class="message">
				<i class="fas fa-exclamation-triangle"></i>
				<p>Para usar Piropazo, primero debe llenar todo su perfil y agregar una foto.</p>
			</div>
		</div>
	</div>
<% } else { %>
	<div class="row">
		<div class="col s12">
			<ul class="tabs tabs-fixed-width">
				<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO CITAS'})">Citas</a></li>
				<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO PAREJAS'})">Parejas</a></li>
				<li class="tab"><a href="#" class="active">Perfil</a></li>
				<li class="tab"><a href="#" onclick="apretaste.send({command: 'PIROPAZO TIENDA'})">Tienda</a></li>
			</ul>
		</div>
	</div>
<% } %>

<div class="row">
	<div id="profile-image" class="col s12">
		<!-- PICTURE -->
		<% var hideProfileImage = (profile.picture) ? '' : 'hide' %>
		<% var hideNoProfileImage = (profile.picture) ? 'hide' : '' %>
		<img id="citas-image" class="<%= hideProfileImage %>" src="{{APP_IMAGE_PATH}}<%= profile.picture %>" alt="¡Sin foto!"/>
		<div id="citas-no-image" class="<%= hideNoProfileImage %>"></div>

		<!-- HEART -->
		<% if(profile.heart == 1){ %>
			<div id="profile-heart" onclick="showToast('Expira en <%= moment(profile.heartExpires).add(3, 'days').format('MMM D, h:mm A') %>')">
				<i class="material-icons medium green-text">favorite</i>
			</div>
		<% } %>

		<!-- EDIT BUTTON -->
		<input id="picturefield" type="file" class="hide"/>
		<a id="profile-upload-btn"  class="btn-floating white" onclick="uploadPicture()">
			<i class="material-icons grey-text text-darken-4">edit</i>
		</a>
	</div>
</div>

<div class="row">
	<!-- NAME -->
	<div class="input-field col s12">
		<i class="material-icons prefix grey-text text-darken-2">person</i>
		<input id="first_name" type="text" value="<%= profile.firstName %>" class="validate"/>
		<label for="first_name">Nombre</label>
	</div>

	<!-- BIRTH YEAR -->
	<div class="input-field col s12">
		<i class="material-icons prefix grey-text text-darken-2">cake</i>
		<select id="year_of_birth" class="validate">
			<option value=""></option>
			<% getYears().forEach(function(year) { %>
				<% var selected = profile.yearOfBirth == year ? "selected" : "" %>
				<option <%= selected %> value="<%= year %>"><%= year %></option>
			<% }); %>
		</select>
		<label for="year_of_birth">Año de nacimiento</label>
	</div>

	<!-- MARITAL STATUS -->
	<div class="input-field col s12">
		<i class="material-icons prefix grey-text text-darken-2">favorite</i>
		<select id="marital_status" class="validate">
			<option value=""></option>
			<% marital_status.forEach(function(val) { %>
				<% var selected = profile.maritalStatus == val ? "selected" : "" %>
				<option <%= selected %> value="<%= val %>"><%= firstUpper(val) %></option>
			<% }); %>
		</select>
		<label for="marital_status">Estado Civil</label>
	</div>

	<!-- HIGHEST SCHOOL LEVEL-->
	<div class="input-field col s12 <%= profile.education == "" ? "hide" : "" %>">
		<i class="material-icons prefix grey-text text-darken-2">school</i>
		<select id="highest_school_level" class="validate">
			<option value=""></option>
			<% highest_school_level.forEach(function(val) { %>
				<% var selected = profile.education == val ? "selected" : "" %>
				<option <%= selected %> value="<%= val %>"><%= firstUpper(val) %></option>
			<% }) %>
		</select>
		<label for="highest_school_level">Nivel Educativo</label>
	</div>

	<!-- PROVINCE-->
	<div class="input-field province-div col s12">
		<i class="material-icons prefix grey-text text-darken-2">place</i>
		<select id="province" class="validate">
			<option value=""></option>
			<% Object.keys(province).forEach(function(val) { %>
				<% var selected = profile.provinceCode == val ? "selected" : "" %>
				<option <%= selected %> value="<%= val %>"><%= province[val] %></option>
			<% }) %>
		</select>
		<label for="province">Provincia</label>
	</div>

	<!-- RELIGION -->
	<div class="input-field col s12">
		<i class="material-icons prefix grey-text text-darken-2">flare</i>
		<select id="religion" class="validate">
			<option value=""></option>
			<% religion.forEach(function(val) { %>
				<% var selected = profile.religion == val ? "selected" : "" %>
				<option <%= selected %> value="<%= val %>"><%= firstUpper(val) %></option>
			<% }) %>
		</select>
		<label for="religion">Religión</label>
	</div>

	<!-- GENDER -->
	<div class="input-field col s12">
		<i class="material-icons prefix grey-text text-darken-2">wc</i>
		<select id="gender" class="validate">
			<option value=""></option>
			<option value="M" <% if(profile.gender == 'M'){ %>selected<% } %>>Hombre</option>
			<option value="F" <% if(profile.gender == 'F'){ %>selected<% } %>>Mujer</option>
		</select>
		<label for="gender">Género</label>
	</div>

	<!-- SEXUAL ORIENTATION -->
	<div class="input-field col s12">
		<i class="fa fa-venus-mars prefix grey-text text-darken-2"></i>
		<select id="sexual_orientation" class="validate">
			<option value=""></option>
			<% sexual_orientation.forEach(function(val) { %>
				<% var selected = profile.searchfor == val ? "selected" : "" %>
				<option <%= selected %> value="<%= val %>"><%= firstUpper(val) %></option>
			<% }) %>
		</select>
		<label for="sexual_orientation">¿Qué género buscas?</label>
	</div>

	<!-- AGE MIN -->
	<div class="input-field col s6">
		<i class="fa fa-bullseye prefix grey-text text-darken-2"></i>
		<select id="ageFrom">
			<% for(var i=16; i<=100;i++) { %>
				<% var selected = profile.minAge === i ? "selected" : "" %>
				<option <%= selected %> value="<%= i %>"><%= i %></option>
			<% } %>
		</select>
		<label for="ageFrom">Desde</label>
	</div>

	<!-- AGE MAX -->
	<div class="input-field col s6">
		<select id="ageTo">
			<% for(var i=16; i<=100;i++) { %>
				<% var selected = profile.maxAge === i ? "selected" : "" %>
				<option <%= selected %> value="<%= i %>"><%= i %></option>
			<% } %>
		</select>
		<label for="ageTo">Hasta</label>
	</div>

	<!-- HEART BUTTON -->
	<div class="col s12 center" style="margin-top: 20px;">
		<a class="waves-effect waves-light btn green" style="width:100%" onclick="heartModalOpen(<%= profileIncomplete %>, <%= profile.hearts %>)">
			Usar un corazón (<%= profile.hearts %>)
		</a>
	</div>

	<!-- EXIT BUTTON -->
	<div class="col s12 center" style="margin-top: 10px;">
		<a class="waves-effect waves-light waves-red red-text" style="width: 100%" onclick="deactivateModalOpen()">
			Salir de Piropazo
		</a>
	</div>
</div>

<!-- SAVE BUTTON -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="submitProfileData()"><i class="material-icons">save</i></a>
</div>

<!-- HEART MODAL -->
<div id="heartModal" class="modal">
	<div class="modal-content">
		<p>¿Desea que éste corazón aparezca en su perfil por 3 días, haciendo que su perfil se muestre con mayor frecuencia?</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
		<a onclick="apretaste.send({command:'PIROPAZO CORAZON'}); block(this);" class="modal-close waves-effect waves-red btn-flat green-text">Aceptar</a>
	</div>
</div>

<!-- DEACTIVATE MODAL -->
<div id="deactivateModal" class="modal">
	<div class="modal-content">
		<p>Si elige salir de Piropazo, su perfil no se mostrará a otros usuarios ni recibirá más flores. Siempre puede continuar su uso volviendo a abrir el servicio y eligiendo entrar.</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cancelar</a>
		<a onclick="apretaste.send({'command': 'PIROPAZO DEACTIVATE'}); block(this);" class="modal-close waves-effect waves-red btn-flat green-text">Salir de Piropazo</a>
	</div>
</div>
