<div class="row" id="chat-row">
	<%if(messages.length>0){%>
	<div class="chat">
		<%messages.forEach(function(message){%>
		<%if(message.from != myusername) message.class = "you"; else message.class = "me";%>
		<div class="bubble <%=message.class%>" id="<%=message.id%>">
			<msg><%=message.text%></msg>
			<%/*if(message.readed == "1"){%><i class="material-icons tiny" onclick="alert('Leido el: <%=message.read%>')">check</i><%}*/%>
			<br>
			<small><%=message.date%></small>
		</div>
		<%});%>
	</div>
	<%}else{%>
	<p id="nochats">No tienes mensajes con el soporte, si tienes aluna duda o inconveniente dejanos saber.</p>
	<%}%>

	<div class="valign-wrapper" id="messageField">
		<div class="col s10 m11" style="margin-bottom: 0;">
			<textarea id="message" placeholder="Escribe un mensaje" class="materialize-textarea" oninput="messageLengthValidate(1000)"></textarea>
			<!--span class="helper-text">Restante: 500</span-->
		</div>
		<div class="col s2 m1 center-align"><i class="material-icons grey-text text-darken-2" onclick="sendMessage('SOPORTE')">send</i></div>
	</div>
</div>